<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body>
<th:block layout:fragment="content">

    <div class="h-full bg-gradient-to-tl bg-sky-50 to-white-900 w-full px-4">
        <div tabindex="0" class="focus:outline-none">
          <!-- Code block starts -->
        <div class="  container px-2 mx-auto flex flex-col md:flex-row items-start md:items-center justify-between pb-2 border-b border-sky-800">
                <h4 class="text-2xl font-bold leading-tight text-sky-800 dark:text-sky-800">Courses</h4>
            <div class="mt-6 md:mt-0">
               <a  href="/course/form" th:href="@{/course/form}" class="mr-1 mb-1 rounded bg-sky-900 px-3 py-1 text-xs font-bold uppercase text-white outline-none transition-all duration-150 ease-linear focus:outline-none active:bg-sky-700" type="button">Add Course</a>
            </div>
        </div>
        <!-- Code block ends -->
            <!-- Remove py-8 -->
            <div class="mx-auto my-auto container py-2">
                <div class="flex flex-wrap items-center lg:justify-around justify-center">
                    <!-- Card 1 -->
                    <div th:each="course : ${courses}" tabindex="0" class="focus:outline-none mx-1 w-80 xl:mb-8 mb-8">

                        <div class="bg-white dark:bg-sky-700">
                            <div class="flex items-center justify-between px-4 pt-4">
                                <div>
                                    <p class="text-sky-900 text-xs font-semibold"></p>
                                </div>
                                <div class="bg-sky-800 cursor-pointer hover:bg-red-600 py-1.5 px-6 rounded-full">
                                    <p th:text="${course.enrolledCourses.size()}"tabindex="0" class="focus:outline-none text-xs font-semibold text-white ">Featured</p>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="flex items-center">
                                    <h2 th:text="${course.name}" tabindex="0" class="text-sky-800 focus:outline-none text-lg dark:text-white font-semibold">iphone XS</h2>
                                </div>
                                <p th:text="${course.catalogData}" tabindex="0" class="focus:outline-none text-xs text-gray-600 dark:text-gray-200 mt-2 line-clamp-3">The Apple iPhone XS is available in 3 colors with 64GB memory. Shoot amazing videos</p>

                                <div class="grid grid-cols-2 gap-1 mt-6">
                                    <p th:each="assessment: ${course.courseWorks}"  th:text="${assessment.name}"tabindex="0" class="focus:outline-none font-semibold text-xs text-sky-800 px-2 bg-sky-50  py-1">12 months warranty</p>

                                </div>
                                <div class="flex items-center justify-between py-4">
                                    <h3 th:text="${#temporals.format(course.from, 'dd-MM-yyyy')}" tabindex="0" class="focus:outline-none text-gray-400 text-xs ">Bay Area, San Francisco</h3>
                                    <h3 th:text="${#temporals.format(course.to, 'dd-MM-yyyy')}" tabindex="0" class="focus:outline-none text-gray-400 text-xs ">$350</h3>
                                </div>
                                <div class="flex items-center justify-between">
                                    <h3> </h3>
                                    <div class="flex items-center pt-3 text-sky-900 dark:text-gray-200  hover:text-red-600 cursor-pointer">
                                        <p class="text-sm font-medium leading-none mr-3">Next</p>
                                        <svg width="24" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path  d="M1.1665 4H12.8332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M9.5 7.33333L12.8333 4" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M9.5 0.666687L12.8333 4.00002" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card 1 Ends -->

                </div>

                <div class="flex items-center justify-center py-2 lg:px-0 sm:px-6 px-4">
                    <div class=" w-full  flex items-center justify-between border-t border-gray-200 dark:border-gray-700">
                        <div class="flex items-center pt-3 text-sky-900  hover:text-indigo-700 cursor-pointer">
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.1665 4H12.8332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1.1665 4L4.49984 7.33333" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1.1665 4.00002L4.49984 0.666687" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p class="text-sm ml-3 font-medium leading-none ">Previous</p>
                        </div>
                        <div class="sm:flex hidden">
                            <p class="text-sm font-medium leading-none cursor-pointer text-sky-900 dark:text-sky-900  hover:text-sky-700 dark:hover:text-sky-400 border-t border-transparent hover:border-sky-400 pt-3 mr-4 px-2">1</p>
                            <p class="text-sm font-medium leading-none cursor-pointer text-sky-900 dark:text-sky-900  hover:text-sky-700 dark:hover:text-sky-400 border-t border-transparent hover:border-sky-400 pt-3 mr-4 px-2">1</p>
                            <p class="text-sm font-medium leading-none cursor-pointer text-sky-900 dark:text-sky-900  hover:text-sky-700 dark:hover:text-sky-400 border-t border-transparent hover:border-sky-400 pt-3 mr-4 px-2">1</p>
                            <p class="text-sm font-medium leading-none cursor-pointer text-sky-7 dark:text-indigo-400 border-t border-indigo-400 pt-3 mr-4 px-2">4</p>
                            <p class="text-sm font-medium leading-none cursor-pointer text-sky-900 dark:text-sky-900  hover:text-sky-700 dark:hover:text-sky-400 border-t border-transparent hover:border-sky-400 pt-3 mr-4 px-2">1</p>
                            <p class="text-sm font-medium leading-none cursor-pointer text-sky-900 dark:text-sky-900  hover:text-sky-700 dark:hover:text-sky-400 border-t border-transparent hover:border-sky-400 pt-3 mr-4 px-2">1</p>
                            <p class="text-sm font-medium leading-none cursor-pointer text-sky-900 dark:text-sky-900  hover:text-sky-700 dark:hover:text-sky-400 border-t border-transparent hover:border-sky-400 pt-3 mr-4 px-2">1</p>
                            <p class="text-sm font-medium leading-none cursor-pointer text-sky-900 dark:text-sky-900  hover:text-sky-700 dark:hover:text-sky-400 border-t border-transparent hover:border-sky-400 pt-3 mr-4 px-2">1</p>
                        </div>
                        <div class="flex items-center pt-3 text-sky-900 dark:text-gray-200  hover:text-indigo-700 cursor-pointer">
                            <p class="text-sm font-medium leading-none mr-3">Next</p>
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.1665 4H12.8332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9.5 7.33333L12.8333 4" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9.5 0.666687L12.8333 4.00002" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</th:block>
</body>
</html>