<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body>
<th:block layout:fragment="content">

    <div class="bg-gradient-to-tl bg-sky-50 to-white-900 h-96 w-full">
        <div class="w-full flex items-center justify-center ">
            <form action="#" th:action = "@{/course}" th:object="${course}" method="POST"
                class="relative top-10 bg-white dark:bg-white-800 shadow rounded py-16 lg:px-28 px-8">
                <p th:text="${header}" class="text-3xl font-extrabold leading-6 text-sky-800 text-center"></p>
                <div class="md:flex items-center mt-12">
                    <div class="md:w-72 flex flex-col">
                        <label id="code" class="text-sm font-medium leading-none text-sky-800">
                            code
                        </label>
                        <input th:field="*{code}" aria-labelledby="code" type="text" class="bg-sky-50 border rounded  text-xs font-medium leading-none text-sky-900 py-3 w-full pl-3 mt-2"/>
                        <span class="text-xs text-red-600" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
                    </div>
                    <div class="md:w-72 flex flex-col md:ml-6 md:mt-0 mt-4">
                        <label id="name" class="text-sm font-medium leading-none text-sky-800">
                            Name
                        </label>
                        <input th:field="*{name}" aria-labelledby="name" type="text" class="bg-sky-50 border rounded  text-xs font-medium leading-none text-sky-900 py-3 w-full pl-3 mt-2"/>
                        <span class="text-xs text-red-600" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                </div>
                <div class="md:flex items-center mt-8">
                <div class="md:w-72 flex flex-col md:mt-0 mt-4">
                        <label id="from" class="text-sm font-medium leading-none text-sky-800">
                            From Date
                        </label>
                        <input th:field="*{from}" aria-labelledby="from" type="text" class="bg-sky-50 border rounded  text-xs font-medium leading-none text-sky-900 py-3 w-full pl-3 mt-2"/>
                        <span class="text-xs text-red-600" th:if="${#fields.hasErrors('from')}" th:errors="*{from}"></span>
                    </div>
                    <div class="md:w-72 flex md:ml-6 flex-col">
                        <label id="to" class="text-sm font-medium leading-none text-sky-800">
                           To Date
                        </label>
                        <input th:field="*{to}" aria-labelledby="to" type="text" class="bg-sky-50 border rounded  text-xs font-medium leading-none text-sky-900 py-3 w-full pl-3 mt-2"/>
                    </div>
                </div>
                <div class="md:flex items-center mt-8">
                    <div class="w-full flex flex-col md:mt-0 mt-4">
                        <label id="semesterOffered" class="text-sm font-medium leading-none text-sky-800">
                            Semester Offered
                        </label>
                        <input th:field="*{semesterOffered}" aria-labelledby="semesterOffered" type="text" class="bg-sky-50 border rounded  text-xs font-medium leading-none text-sky-900 py-3 w-full pl-3 mt-2"/>
                        <span class="text-xs text-red-600" th:if="${#fields.hasErrors('semesterOffered')}" th:errors="*{semesterOffered}"></span>
                    </div>
                </div>

                <div class="md:flex items-center mt-8">
                    <div class="w-full flex flex-col md:mt-0 mt-4">
                        <label id="catalogData" class="text-sm font-medium leading-none text-sky-800">
                            Catalog Data
                        </label>
                        <textarea th:field="*{catalogData}" aria-labelledby="catalogData" type="text" class="bg-sky-50 border rounded  text-xs font-medium leading-none text-sky-900 py-3 w-full pl-3 mt-2"> </textarea>
                        <span class="text-xs text-red-600" th:if="${#fields.hasErrors('catalogData')}" th:errors="*{catalogData}"></span>
                    </div>
                </div>

                <div class="mt-8">
                    <button type="submit" role="button" class="focus:ring-2 focus:ring-offset-2 focus:ring-sky-700 text-sm font-semibold leading-none text-white focus:outline-none bg-sky-900 border rounded hover:bg-sky-600 py-4 w-full">Add Course</button>
                </div>
            </form>
        </div>
    </div>
</th:block>
</body>
</html>