<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body>
<th:block layout:fragment="content">

    <div class="bg-gradient-to-tl bg-sky-50 to-white-900 h-96 w-full">
        <div class="w-full flex items-center justify-center ">
            <form action="#" th:action = "@{/user}" th:object="${user}" method="POST"
                class="relative top-10 bg-white dark:bg-white-800 shadow rounded py-16 lg:px-28 px-8">
                <p th:text="${header}" class="text-3xl font-extrabold leading-6 text-sky-800 text-center"></p>
                <div class="md:flex items-center mt-12">
                    <div class="md:w-72 flex flex-col">
                        <label id="name" class="text-sm font-medium leading-none text-sky-800">
                            Name
                        </label>
                        <input th:field="*{name}" aria-labelledby="name" type="text" class="bg-sky-50 border rounded  text-xs font-medium leading-none text-sky-900 py-3 w-full pl-3 mt-2"/>
                        <span class="text-xs text-red-600" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                    <div class="md:w-72 flex flex-col md:ml-6 md:mt-0 mt-4">
                        <label id="surname" class="text-sm font-medium leading-none text-sky-800">
                            Surname
                        </label>
                        <input th:field="*{surname}" aria-labelledby="surname" type="text" class="bg-sky-50 border rounded  text-xs font-medium leading-none text-sky-900 py-3 w-full pl-3 mt-2"/>
                        <span class="text-xs text-red-600" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
                    </div>
                </div>
                <div class="md:flex items-center mt-8">
                    <div class="md:w-72 flex flex-col">
                        <label id="birthday" class="text-sm font-medium leading-none text-sky-800">
                            Birthday
                        </label>
                        <input th:field="*{birthday}" placeholder="YYYY-MM-DD" aria-labelledby="birthday" type="text" class="bg-sky-50 border rounded  text-xs font-medium leading-none text-sky-900 py-3 w-full pl-3 mt-2"/>
                    </div>
                    <div class="md:w-72 flex flex-col md:ml-6 md:mt-0 mt-4">
                        <label id="email" class="text-sm font-medium leading-none text-sky-800">
                            Email
                        </label>
                        <input th:field="*{email}" aria-labelledby="email" type="text" class="bg-sky-50 border rounded  text-xs font-medium leading-none text-sky-900 py-3 w-full pl-3 mt-2"/>
                        <span class="text-xs text-red-600" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>
                </div>
                <div class="md:flex items-center mt-8">
                    <div class="md:w-72 flex flex-col">
                        <label id="role" class="text-sm font-medium leading-none text-sky-800">
                            Role
                        </label>
                        <select  th:field="*{role}" class="bg-sky-50 border rounded  text-xs font-medium leading-none text-sky-900 py-3 w-full pl-3 mt-2">
                            <option th:value="'PROFESSOR'" th:text="PROFESSOR"></option>
                            <option th:value="'STUDENT'" th:text="STUDENT" ></option>
                        </select>
<!--                        <input th:field="*{role}" aria-labelledby="role" type="text" class="bg-sky-50 border rounded  text-xs font-medium leading-none text-sky-900 py-3 w-full pl-3 mt-2"/>-->
                        <span class="text-xs text-red-600" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
                    </div>
                    <div class="md:w-72 flex flex-col md:ml-6 md:mt-0 mt-4">
                        <label id="password" class="text-sm font-medium leading-none text-sky-800">
                            Password
                        </label>
                        <input th:field="*{password}" aria-labelledby="password" type="password" class="bg-sky-50 border rounded  text-xs font-medium leading-none text-sky-900 py-3 w-full pl-3 mt-2"/>
                        <span class="text-xs text-red-600" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    </div>
                </div>

                <div class="mt-8">
                    <button type="submit" role="button" class="focus:ring-2 focus:ring-offset-2 focus:ring-sky-700 text-sm font-semibold leading-none text-white focus:outline-none bg-sky-900 border rounded hover:bg-sky-600 py-4 w-full">Create my account</button>
                </div>
            </form>
        </div>
    </div>
</th:block>
</body>
</html>