<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container mx-auto px-4">
            <div class="relative mt-2 mb-6 flex w-full min-w-0 flex-col break-words rounded bg-white shadow-lg">
                <div class="mb-0 rounded-t border-0 bg-sky-50 px-4 py-3">
                    <div class="flex flex-wrap items-center">
                        <div class="relative w-full max-w-full flex-1 flex-grow px-4">
                            <h3 class="text-base font-semibold text-sky-800">Students</h3>
                        </div>
                        <div class=" w-full max-w-full flex-1 flex-grow  text-right">
                            <a  href="/user/form" th:href="@{/user/form}" class="mr-1 mb-1 rounded bg-sky-900 px-3 py-1 text-xs font-bold uppercase text-white outline-none transition-all duration-150 ease-linear focus:outline-none active:bg-sky-700" type="button">add student</a>
                        </div>
                    </div>
                </div>




                <div class="block w-full overflow-x-auto">
                    <table class="w-full border-collapse items-center bg-transparent">
                        <thead>
                        <tr>
                            <th class="font-extrabold text-sky-100 whitespace-nowrap border border-l-0 border-r-0 border-solid bg-sky-800 px-6 py-3 text-left align-middle text-xs uppercase">ID</th>
                            <th class="font-extrabold text-sky-100 whitespace-nowrap border border-l-0 border-r-0 border-solid bg-sky-800 px-6 py-3 text-left align-middle text-xs  uppercase">NAME</th>
                            <th class="font-extrabold text-sky-100 whitespace-nowrap border border-l-0 border-r-0 border-solid bg-sky-800 px-6 py-3 text-left align-middle text-xs  uppercase">SURNAME</th>
                            <th class="font-extrabold text-sky-100 whitespace-nowrap border border-l-0 border-r-0 border-solid bg-sky-800 px-6 py-3 text-left align-middle text-xs  uppercase">EMAIL</th>
                            <th class="font-extrabold text-sky-100 whitespace-nowrap border border-l-0 border-r-0 border-solid bg-sky-800 px-6 py-3 text-left align-middle text-xs  uppercase">BIRTHDAY</th>
                            <th class="font-extrabold text-sky-100 whitespace-nowrap border border-l-0 border-r-0 border-solid bg-sky-800 px-6 py-3 text-left align-middle text-xs  uppercase">ROLE</th>
                            <th class="font-extrabold text-sky-100 whitespace-nowrap border border-l-0 border-r-0 border-solid bg-sky-800 px-6 py-3 text-left align-middle text-xs  uppercase">Actions</th>

                        </tr>
                        </thead>

                        <tbody>


                        <tr th:each="user : ${users}">
                            <th th:text="${user.id}" class="whitespace-nowrap border-t-0 border-l-0 border-r-0 p-4 px-6 text-left align-middle text-xs text-sky-800">/argon/profile.html</th>
                            <td th:text="${user.name}" class="whitespace-nowrap border-t-0 border-l-0 border-r-0 p-4 px-6 align-middle text-xs text-sky-800">1,795</td>
                            <td th:text="${user.surname}"  class="whitespace-nowrap border-t-0 border-l-0 border-r-0 p-4 px-6 align-middle text-xs text-sky-800">190</td>
                            <td th:text="${user.email}"  class="whitespace-nowrap border-t-0 border-l-0 border-r-0 p-4 px-6 align-middle text-xs text-sky-800">
                                <i class="fas fa-arrow-down mr-4 text-red-500"></i>
                                46,53%
                            </td>
                            <td th:text="${user.birthday}"  class="whitespace-nowrap border-t-0 border-l-0 border-r-0 p-4 px-6 align-middle text-xs text-sky-800">190</td>
                            <td th:text="${user.role}"  class="whitespace-nowrap border-t-0 border-l-0 border-r-0 p-4 px-6 align-middle text-xs text-sky-800">190</td>

                            <td class="whitespace-nowrap border-t-0 border-l-0 border-r-0 p-4 px-6 align-middle text-xs text-sky-800">
                                <div class="flex item-center">
                                    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                        </svg>
                                    </div>
                                    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                        </svg>
                                    </div>
                                    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                        </svg>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</th:block>
</body>
</html>