<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

</head>
<body >
<!-- Code block starts -->
<!--<div class="flex items-center" th:fragment="radio-select (value,index)">-->
<!-- Shipping Section -->
<div th:fragment="checkboxs-card">
    <div class="flex justify-between items-center cursor-pointer">
        <p
                id="p"
                class="font-normal dark:text-gray-400 text-base leading-6 text-gray-600 mt-4 w-11/12"
        >
            We are covering every major country worldwide. The shipment leaves
            from US as it is our headquarter. Some extra information you
            probably need to add here so that the customer is clear of their
            wanted expectations.
        </p>
        <button aria-label="too"
                class="text-gray-800 dark:text-white cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800"
                onclick=" openAnsSection(6)">
            <svg width="20"
                 height="20"
                 viewBox="0 0 20 20"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path
                        id="path1"
                        class=""
                        d="M10 4.1665V15.8332"
                        stroke="currentColor"
                        stroke-width="1.25"
                        stroke-linecap="round"
                        stroke-linejoin="round"/>
                <path
                        d="M4.16602 10H15.8327"
                        stroke="currentColor"
                        stroke-width="1.25"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                />
            </svg>
        </button>
    </div>
    <div
            id="para6"
            class="block font-normal dark:text-gray-400 text-base leading-6 text-gray-600 mt-4 w-11/12"
    >
        <div class="grid grid-cols-3 mt-8" >
            <div th:each="a : ${question.answers}">
                <div th:replace="fragments/checkbox-input :: checkbox-select (${a},'6')"></div>
            </div>
        </div>
    </div>
    <hr class="my-7 bg-gray-200" />
</div>




</body>
</html>