<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body>

<th:block layout:fragment="content">

  <div class="to-white-900 mx-auto h-full w-full bg-sky-50 bg-gradient-to-tl py-5 px-6 ">

    <div class="container mb-4 px-2 mx-auto flex flex-col md:flex-row items-start md:items-center justify-between pb-2 border-b border-sky-800">
      <h4 class="text-2xl font-bold leading-tight text-sky-800 dark:text-sky-800">Courses</h4>
      <div class="mt-6 md:mt-0">
        <a  href="/course/form" th:href="@{/course/form}" class="mr-1 mb-1 rounded bg-sky-900 px-3 py-1 text-xs font-bold uppercase text-white outline-none transition-all duration-150 ease-linear focus:outline-none active:bg-sky-700" type="button">Add Course</a>
      </div>
    </div>

    <div class="grid gap-3 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">

      <div class="rounded">
        <div class="mb-6 flex h-54 w-full flex-col justify-between rounded-lg border-2 border-sky-800 py-5 px-4">
          <div>
            <h4 class="mb-3 font-bold text-sky-800">Introduction to Programming</h4>
            <p class="text-sm text-sky-800 line-clamp-3">This course assumes no prior experience with programming. We do, of necessity, assume that the student is able to operate their own system to, at a minimum, install and set up the tools needed to program in at least one computer programming language.</p>
          </div>
          <div class="grid grid-cols-2 gap-1 mb-6 mt-3">
            <p tabindex="0" class="mx-2 focus:outline-none font-semibold text-xs text-sky-800 px-2 border-1 border-sky-900 ring-2 rounded-md  py-1">Exam</p>
            <p tabindex="0" class="mx-2 focus:outline-none font-semibold text-xs text-sky-800 px-2 border-1 border-sky-900 ring-2 rounded-md  py-1">Coursework</p>
          </div>
          <div>
            <div class="flex items-center justify-between text-sky-800">
              <p class="text-sm">March 28, 2020</p>
              <button class="flex h-8 w-8 items-center justify-center rounded-full bg-sky-800 text-white focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2" aria-label="edit note" role="button">
                <img class="block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/4-by-3-multiple-styled-cards-svg1.svg" alt="edit" />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="rounded">
        <div class="mb-6 flex h-54 w-full flex-col justify-between rounded-lg border-2 border-sky-800 py-5 px-4">
          <div>
            <h4 class="mb-3 font-bold text-sky-800">Object Oriented Software Design</h4>
            <p class="text-sm text-sky-800 line-clamp-3">The initial practice of designing software often focuses on creating work products that capture the desired requirements and specifications of the proposed software.</p>
          </div>
          <div class="grid grid-cols-2 gap-1 mb-6 mt-3">
            <p tabindex="0" class="mx-2 focus:outline-none font-semibold text-xs text-sky-800 px-2 border-1 border-sky-900 ring-2 rounded-md  py-1">Exam</p>
            <p tabindex="0" class="mx-2 focus:outline-none font-semibold text-xs text-sky-800 px-2 border-1 border-sky-900 ring-2 rounded-md  py-1">Coursework</p>

          </div>
          <div>
            <div class="flex items-center justify-between text-sky-800">
              <p class="text-sm">March 28, 2020</p>
              <button class="flex h-8 w-8 items-center justify-center rounded-full bg-sky-800 text-white focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2" aria-label="edit note" role="button">
                <img class="block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/4-by-3-multiple-styled-cards-svg1.svg" alt="edit" />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="rounded">
        <div class="mb-6 flex h-54 w-full flex-col justify-between rounded-lg border-2 border-sky-800 py-5 px-4">
          <div>
            <h4 class="mb-3 font-bold text-sky-800">JAVA</h4>
            <p class="text-sm text-sky-800 line-clamp-3">Java is a popular language. The Java Center is a Wikiversity content development project where participants create and organize learning resources about Java. The topic namespace contains pages that are for management and organization of small academic units at Wikiversity such as departments. The AP Computer Science test uses Java for the curriculum. The AP Computer Science textbook at Wikibooks can be found below.</p>
          </div>
          <div class="grid grid-cols-2 gap-1 mb-6 mt-3">
            <p tabindex="0" class="mx-2 focus:outline-none font-semibold text-xs text-sky-800 px-2 border-1 border-sky-900 ring-2 rounded-md  py-1">Exam</p>
            <p tabindex="0" class="mx-2 focus:outline-none font-semibold text-xs text-sky-800 px-2 border-1 border-sky-900 ring-2 rounded-md  py-1">Coursework</p>

          </div>
          <div>
            <div class="flex items-center justify-between text-sky-800">
              <p class="text-sm">March 28, 2020</p>
              <button class="flex h-8 w-8 items-center justify-center rounded-full bg-sky-800 text-white focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2" aria-label="edit note" role="button">
                <img class="block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/4-by-3-multiple-styled-cards-svg1.svg" alt="edit" />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="rounded">
        <div class="mb-6 flex h-54 w-full flex-col justify-between rounded-lg border-2 border-sky-800 py-5 px-4">
          <div>
            <h4 class="mb-3 font-bold text-sky-800">C++</h4>
            <p class="text-sm text-sky-800 line-clamp-3">Welcome to the C++ programming language. Whether you are not certain which language to pick or you have already decided on C++, you have come to the right place.</p>
          </div>
          <div class="grid grid-cols-2 gap-1 mb-6 mt-3">
            <p tabindex="0" class="mx-2 focus:outline-none font-semibold text-xs text-sky-800 px-2 border-1 border-sky-900 ring-2 rounded-md  py-1">Exam</p>
            <p tabindex="0" class="mx-2 focus:outline-none font-semibold text-xs text-sky-800 px-2 border-1 border-sky-900 ring-2 rounded-md  py-1">Coursework</p>

          </div>
          <div>
            <div class="flex items-center justify-between text-sky-800">
              <p class="text-sm">March 28, 2020</p>
              <button class="flex h-8 w-8 items-center justify-center rounded-full bg-sky-800 text-white focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2" aria-label="edit note" role="button">
                <img class="block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/4-by-3-multiple-styled-cards-svg1.svg" alt="edit" />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="rounded">
        <div class="mb-6 flex h-54 w-full flex-col justify-between rounded-lg border-2 border-sky-800 py-5 px-4">
          <div>
            <h4 class="mb-3 font-bold text-sky-800">Spring Framework</h4>
            <p class="text-sm text-sky-800 line-clamp-3">This is an advanced software development course. Learners should already be familiar with software development fundamentals.</p>
          </div>
          <div class="grid grid-cols-2 gap-1 mb-6 mt-3">
            <p tabindex="0" class="mx-2 focus:outline-none font-semibold text-xs text-sky-800 px-2 border-1 border-sky-900 ring-2 rounded-md  py-1">Exam</p>
            <p tabindex="0" class="mx-2 focus:outline-none font-semibold text-xs text-sky-800 px-2 border-1 border-sky-900 ring-2 rounded-md  py-1">Coursework</p>

          </div>
          <div>
            <div class="flex items-center justify-between text-sky-800">
              <p class="text-sm">March 28, 2020</p>
              <button class="flex h-8 w-8 items-center justify-center rounded-full bg-sky-800 text-white focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2" aria-label="edit note" role="button">
                <img class="block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/4-by-3-multiple-styled-cards-svg1.svg" alt="edit" />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="rounded">
        <div class="mb-6 flex h-54 w-full flex-col justify-between rounded-lg border-2 border-sky-800 py-5 px-4">
          <div>
            <h4 class="mb-3 font-bold text-sky-800">Data Structures</h4>
            <p class="text-sm text-sky-800 line-clamp-3">A data structure is not only used for organizing the data. It is also used for processing, retrieving, and storing data. There are different basic and advanced types of data structures that are used in almost every program or software system that has been developed. So we must have good knowledge about data structures. </p>
          </div>
          <div class="grid grid-cols-2 gap-1 mb-6 mt-3">
            <p tabindex="0" class="mx-2 focus:outline-none font-semibold text-xs text-sky-800 px-2 border-1 border-sky-900 ring-2 rounded-md  py-1">Exam</p>
            <p tabindex="0" class="mx-2 focus:outline-none font-semibold text-xs text-sky-800 px-2 border-1 border-sky-900 ring-2 rounded-md  py-1">Coursework</p>

          </div>
          <div>
            <div class="flex items-center justify-between text-sky-800">
              <p class="text-sm">March 28, 2020</p>
              <button class="flex h-8 w-8 items-center justify-center rounded-full bg-sky-800 text-white focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2" aria-label="edit note" role="button">
                <img class="block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/4-by-3-multiple-styled-cards-svg1.svg" alt="edit" />
              </button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</th:block>
</body>
</html>